<!DOCTYPE html>
<html>
    <head>
        <title>amazone</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>

    <body>
        <h1>商品詳細</h1>
        <h1><%= item.item_name %></h1>
        <p><%= item.price %></p>
    </body>
</html>