<!DOCTYPE html>
<html lang="js">
<head>
    <meta charset="UTF-8">
    <title>注文情報の編集</title>
</head>
<body>
    <h1>注文情報の編集</h1>
        <p><%= item.name %>:</p>
        <form action="/carts/edit/<%= cart.item_id %>" method="POST">
            <input type="hidden" name="_method" value="put">
            <input type="number" value=<%= cart.item_count %> name="item_count">
            <input type="submit" class="submit_button" value="更新">
        </form>
    <a href="/products">買い物を続ける</a>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="/javascripts/item.js"></script>
</body>
</html>