<!DOCTYPE html>
<html lang="js">
<head>
    <meta charset="UTF-8">
    <title>注文情報の編集</title>
</head>
<body>
    <h1>注文情報の編集</h1>
    <% for(let i = 0;i < items.length;i++){ %>
        <% if(cart.item_id === items[i].id){ %>
            <p><%=items[i].name%>が</p>
            <form action="/carts/<%= cart.item_id %>" method="POST">
                <input type="hidden" name="_method" value="put">
                <input type="number" value="<%=cart.item_count%>" name="item_count">
                <input type="submit" value="更新">
            </form>
            <form action="/carts/<%= cart.id %>" method="POST">
                <input type="hidden" name="_method" value="delete">
                <input type="submit" value="カートから削除">
            </form>
        <% }; %>
    <% }; %>
</body>
</html>