<!DOCTYPE html>
<html lang="js">
<head>
    <meta charset="UTF-8">
    <title>注文情報の編集</title>
</head>
<body>
    <h1>注文情報の編集</h1>
    <%for(let i = 0; i < items.length; i++){%>
        <%if(items[i].id === cart.item_id){%>
            <p><%= items[i].name %>:</p>
            <form action="/carts/edit/<%= cart.item_id %>" method="POST">
                <input type="hidden" name="_method" value="put">
                <input type="number" value=<%= cart.item_count %> name="item_count">
                <input type="submit" value="更新">
            </form>
        <%}%>
    <%}%>
    <a href="/products">買い物を続ける</a>
</body>
</html>