<!DOCTYPE html>
<html>
    <head>
        <title>amazone</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>

    <body>
        <h1>ログイン</h1>
        <form action="/users/login" method="POST">
            <p>メールアドレスを入力してください</p>
            <input type="text" name="email">
            <p>パスワードを入力してください</p>
            <input type="text" name="password">
            <input type="submit" value="送信">
        </form>
    </body>
</html>