<!DOCTYPE html>
<html>
    <head>
        <title>amazone</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>

    <body>
        <h1>サインイン</h1>
        <form action="/users/signup" method="post">
            <input type="hidden" name="_method" value="put">
            
            <p>ユーザー名を入力してください</p>
            <input type="text" name="name">
            <p>メールアドレスを入力してください</p>
            <input type="text" name="email">
            <p>パスワードを入力してください</p>
            <input type="text" name="password">
            <input type="submit" value="登録">
        </form>
    </body>
</html>
